@{
    var currentCulture = Context.Features.Get<IRequestCultureFeature>()?.RequestCulture.Culture.Name;
    ViewData["Title"] = Localizer["Passkey Auth"];
}
<script src="~/js/Passkey/Login.js"></script>
<script src="~/js/Passkey/Shared.js"></script>

<div style="padding-top: 200px;">
    <h2>@Localizer["Passkey Demo"]</h2>
    <a href="@Url.Action("RegisterPasskey", "Passkey")"><button>@Localizer["Create Account"]</button></a>
    <form asp-controller="Home" asp-action="SetLanguage" method="get" id="languageForm">
        <select name="culture" onchange="this.form.submit();" class="form-select">
            <option selected="@(currentCulture == "en")" value="en">English</option>
            <option selected="@(currentCulture == "zh-HK")" value="zh-HK">繁體中文(HK)</option>
        </select>
        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
    </form>
    <form asp-controller="Passkey" asp-action="Logout" method="post">
        @Localizer["Display Name"]: @User.FindFirst("DisplayName")?.Value
        <input type="submit" value="@Localizer["Logout"]" />
    </form>
</div>

<div style="padding-top: 50px;">
    <button onclick="loginPasskey()">@Localizer["Passkey Login"]</button>
</div>
<p id="loadingMessage" style="color:yellow;"></p>
<a href="@Url.Action("ViewPasskey", "Passkey")"><button>@Localizer["Passkey View"]</button></a>