@{
    ViewData["Title"] = Localizer["View Passkey"];
}
<script src="~/js/Views/Passkey/ViewPasskey.js"></script>
<script src="~/js/Views/Passkey/Shared.js"></script>

<div style="padding-top:200px;">
    <h2>@Localizer["Passkey Auth"]</h2>
    <button onclick="registerPasskey()">@Localizer["Register Additional Passkey"]</button>
    <button onclick="createRegisterAdditionalPasskeyUrl()">@Localizer["Register Additional Passkey another device"]</button>
    <p id="loadingMessage" style="color:yellow;"></p>
    <p id="errorMessage" style="color:rgb(180, 0, 0);"></p>
    <p id="returnRegisterUrl"></p>
</div>
<div>@Localizer["Saved Passkey"]:</div>
<table>
@foreach (ReturnViewAllPasskeysByUserId item in (ViewData["Passkeys"] as List<ReturnViewAllPasskeysByUserId>)!)
{
    <tr>
        <td>
            @Localizer["Name"]: @(string.IsNullOrEmpty(item.DisplayName) ? "Passkey" : item.DisplayName)
        </td>
        <td>
            @Localizer["Create At"]: @item.CreateDate
        </td>
    </tr>
}
</table>