@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/Home/Index.css" />
<section id="section-hero">
    <div class="hero-background">
        <img src="~/images/raya_art/raya1.png" alt="Background" class="bg-image">
    </div>

    <div class="hero-content container">
        <nav class="main-nav">
            <!-- Classes -->
            <a href="@Url.Action("Index", "Classes")">
                <div class="nav-item">
                    <div class="nav-icon-group">
                        <img src="~/images/svg/box.svg" alt="Classes Background" class="nav-bg-svg">
                        <img src="~/images/classes.png" alt="Classes Icon" class="nav-icon">
                    </div>
                    <span class="nav-label">Classes</span>
                </div>
            </a>

            <!-- Psionics -->
            <a href="@Url.Action("Index", "Psionics")">
                <div class="nav-item">
                    <div class="nav-icon-group">
                        <img src="~/images/svg/box.svg" alt="Psionics Background" class="nav-bg-svg">
                        <img src="~/images/psionics.png" alt="Psionics Icon" class="nav-icon">
                    </div>
                    <span class="nav-label">Psionics</span>
                </div>
            </a>

            <!-- Enemies -->
            <a href="@Url.Action("Index", "Enemies")">
                <div class="nav-item">
                    <div class="nav-icon-group">
                        <img src="~/images/svg/box.svg" alt="Enemies Background" class="nav-bg-svg">
                        <img src="~/images/enemies.png" alt="Enemies Icon" class="nav-icon">
                    </div>
                    <span class="nav-label">Enemies</span>
                </div>
            </a>

            <!-- Items -->
            <a href="@Url.Action("Index", "Items")">
                <div class="nav-item">
                    <div class="nav-icon-group">
                        <img src="~/images/svg/box.svg" alt="Items Background" class="nav-bg-svg">
                        <img src="~/images/items.png" alt="Items Icon" class="nav-icon">
                    </div>
                    <span class="nav-label">Items</span>
                </div>
            </a>

            <!-- Manuals -->
            <a href="@Url.Action("Index", "Manuals")">
                <div class="nav-item">
                    <div class="nav-icon-group">
                        <img src="~/images/svg/box.svg" alt="Manuals Background" class="nav-bg-svg">
                        <img src="~/images/manuals.png" alt="Manuals Icon" class="nav-icon">
                    </div>
                    <span class="nav-label">Manuals</span>
                </div>
            </a>
        </nav>
    </div>
</section>