@model JsonList

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>@ViewData["ProjectName"]</div>
    <div>@ViewData["Id"]</div>

    @if (Model == null)
    {
        <p>Api return nothing else ;(</p>
    }
    else
    {
        @*Loop List*@
        @foreach (var item in Model.JSONList)
        {
            <p>ID: @item.MeowId</p>
            <br />
            <p>Name: @item.Name</p>
        }
    }

    @foreach (DatabaseUsers item in ViewData["DatabaseUsersList"] as List<DatabaseUsers>)
    {
        <p>@item.ID</p>
        <p>@item.Name</p>
        <p>@item.Type</p>
        <p>@item.Rank</p>
    }
</div>
<button><a href="@Url.Action("Index", "Information")">Some button</a></button>