@model JsonList

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>@ViewData["ProjectName"]</div>
    <div>@ViewData["Id"]</div>

    @if (Model == null)
    {
        <p>Api return nothing else ;(</p>
    }
    else
    {
        @*Loop List*@
        @foreach (var item in Model.JSONList)
        {
            <p>ID: @item.MeowId</p>
            <br />
            <p>Name: @item.Name</p>
        }
    }

    @foreach (DatabaseUsers item in ViewData["DatabaseUsersList"] as List<DatabaseUsers>)
    {
        <p>@item.ID</p>
        <p>@item.Name</p>
        <p>@item.Type</p>
        <p>@item.Rank</p>
    }

    @using (Html.BeginForm("SubmitExceptionMessage", "Home", new { ReturnUrl = ViewBag.ReturnURL }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form", @id = "MeowForm" }))
    {
        <div>
            Some Drop Down List
        </div>
        @Html.TextAreaFor(model => model.ExceptionMessage, 3, 20, new { maxlength = "2000" })
        <button id="SubmitButton" type="submit">Create Exception with message hehe</button>
    }
    <a href="@Url.Action("LogExceptionTest", "Home")"><button>Test Log Exception</button></a>
</div>
<a href="@Url.Action("Index", "Information")"><button>Some button</button></a>