<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>SEAR | @ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Figtree:ital,wght@0,300..900;1,300..900&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SEAR_WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylesheet.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <section id="section-header">
        <header class="site-header">
            <a href="@Url.Action("Index", "Home")">
                <div class="header-left">
                    <img src="~/images/logo.png" alt="Logo" class="logo">
                    <h1 class="site-title">@Localizer["TE Name"]</h1>
                </div>
            </a>

            <div class="header-center">
                <div class="search-bar">
                    <img src="~/images/svg/search.svg" alt="Search" class="search-icon">
                    <input type="text" class="search-input" placeholder="@Localizer["Search"]">
                </div>
            </div>

            <div class="header-right">
                <span class="subtitle">Super Earth Adaptive Roleplay</span>
            </div>
        </header>
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <section id="section-footer">
        <footer class="site-footer">
            <div class="social-icons">
                <a href="#" class="social-link">
                    <img src="~/images/svg/discord.svg" alt="Discord" class="social-icon">
                </a>
                <a href="#" class="social-link">
                    <img src="~/images/svg/github.svg" alt="GitHub" class="social-icon">
                </a>
                <a href="#" class="social-link">
                    <img src="~/images/svg/google.svg" alt="Google" class="social-icon">
                </a>
            </div>
        </footer>
    </section>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>