@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["Error Occurred"]</h2>

@if (Model.ShowUUID)
{
    <div>
        <strong>@Localizer["Track UUID"]:</strong>
        <code>@Model.UUID</code>
        <br />
        @Localizer["ID Track Messsage"]
        <br />
        <strong>@Localizer["Error Type"]:</strong>
        <code>@Model.ExceptionType</code>
        @if (Model.ExceptionType == "Unknown")
        {
            <div>
                @Localizer["Error Type Unknown"]
            </div>
        }
    </div>
    <br />
    <p>@Localizer["Input Steps"]</p>
    @using (Html.BeginForm("SubmitExceptionSteps", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.TextAreaFor(Model => Model.ErrorSteps, 10, 20, new { @class = "form-control", placeholder = Localizer["Enter Steps here"], maxlength = "2000" })
        @Html.HiddenFor(Model => Model.UUID)
        <button type="submit">@Localizer["Submit Error Steps"]</button>
    }
    if (SEAR_DataContract.Misc.Misc.CheckIsDevelopmentEnvironment() && !string.IsNullOrEmpty(Model.StackTrace))
    {
        <br />
        <h1 class="text-danger">@Localizer["Error Stack Trace"]:</h1>
        <div>@Model.StackTrace</div>
    }
}
else
{
    <p><strong>@Localizer["Unable to get tracking UUID"]</strong></p>
    <p>@Localizer["Unknown Error"]</p>
    <div>did you just accessed this page directly?! >:(</div>
}